
#containerDiv{
  display: block;
  font-size: 3vw;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 400;
  padding: 40px 15%;
}
@media screen and (max-width: 400px){
  #containerDiv{
    font-size: 5vw;
  }
}
